*
  box-sizing: border-box

body
  margin: 0
  padding: 0

h1, h2, h3, h4, p
  margin: 0

.container
  height: 100vh
  display: flex
  flex-flow: column wrap
  align-content: center


.header
  background-color: #ed1e24
  width: 100vw
  position: fixed
  top: 0
  display: flex
  flex-flow: row wrap
  justify-content: flex-start
  align-items: center
  z-index: 1000
  & a:first-of-type
    color: white
    text-decoration: none
    padding: .5rem

.main
  display: flex
  flex-flow: column wrap
  margin-top: 4rem

.pokemonCard
  display: flex
  flex-flow: column wrap
  justify-content: center
  align-items: center
  background-color: #eee
  border-radius: .3rem

  .pokemonName

  .pokemonSprite
    max-width: 100%