.bug
  background: url(type.png) 0 -.1rem

.electric
  background: url(type.png) 0 -2.5rem

.fire
  background: url(type.png) 0 -5rem

.grass
  background: url(type.png) 0 7.1rem

.normal
  background: url(type.png) 0 4.5rem

.rock
  background: url(type.png) 0 2.1rem

.dark
  background: url(type.png) -4.9rem -.1rem

.fairy
  background: url(type.png) -4.9rem -2.5rem

.flying
  background: url(type.png) -4.9rem -5rem

.ground
  background: url(type.png) -4.9rem -7.5rem

.poison
  background: url(type.png) -4.8rem 4.5rem

.steel
  background: url(type.png) -4.9rem 2.1rem

.dragon
  background: url(type.png) 5.4rem -.1em

.fighting
  background: url(type.png) 5.3rem -2.5rem

.ghost
  background: url(type.png) 5.3rem -5rem

.ice
  background: url(type.png) 5.4rem -7.5rem

.psychic
  background: url(type.png) 5.3rem -9.9rem

.water
  background: url(type.png) -9.7rem 2rem